body{
    font-family: sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://www.health.com/thmb/6atKRBrmnbX5qCGA2Io_6is5H0c=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/sean-oulashin-KMn4VEeEPR8-unsplash-2000-fb7d5ae8c3054db98ac35663eb0148e1.jpg");
    background-size: cover;   
}

h2{
    position:absolute;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 30px;
    Top:10px;
    Left: 100px;
    color: rgb(0, 166, 243);
}

b2{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
    font-size: 14px;
    text-align:  center;
    color: rgb(113, 7, 252);
}




.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    display: flex;
    width: 100px;
    height: 80px;
    background: #867cb7;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    background: darkblue;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    opacity:0.8;
}

.clock #ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}