@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 110vh;
  overflow: hidden;
  margin: 0;
  color:#ff0077
}

.container{
    display:flex;
    width: 200vw;
    position: relative;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    cursor: caret;
    border-radius: 50px;
    color: #09ff00;
    flex:0.5;
    position: relative;
    margin:10px;
    transition: flex 0.5s ease-in; 
}

.panel h3{
    font-size:24px;
    position:absolute;
    bottom: 20px;
    left:20px;
    margin:0;
    opacity:0;
    color:#ff0000
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }


  .credit{
    position: absolute;
    top: 6px;
    left:32px;
  }