@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {   
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  body {
    background-image: url(https://content.api.news/v3/images/bin/62c478cd1024ea26021064205a8286b3?width=1024)
  }

  .container{
    text-align: center;
  }

  .progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 500px;
  }

  .progress-container::before{
    content: '';
    background-color: #9e2828;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index:-1;
  }

  .progress{
    background-color: #00ff22;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 0%;
    z-index:-1;
    transition: 0.4s ease;
  }

  .circle{
    background-color: white;
    color: #999;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e0e0e0;
    transition: 0.4s ease;
  }

  .circle.active{
    border-color:#3498db;
  }

  .btn{
    background-color: #3498db;
    color: rgb(255, 255, 255);
    border:0;
    border-radius: 6px;
    font-family: inherit;
    padding: 8px 30px;
    border:0;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
  }

  .btn:hover{
    background-color: #00ff40;
    
  }
  
  
  .btn:active{
    transform: scale(0.98);
  }

  .btn:focus{
    outline: none;
  }

  .btn:disabled{
    background-color: #d82424;
    cursor: not-allowed;
  }